IyBPZWlsIGRlIERpZXUgdjEuMCAtIERlcGVuZGFuY2VzCiMgTkFHIE5BVCBJbmR1c3RyaWVzIC0gMjAyNgoKIyBJbnRlcmZhY2UgZ3JhcGhpcXVlCmN1c3RvbXRraW50ZXI+PTUuMi4wClBpbGxvdz49MTAuMC4wCgojIFZpc2lvbiBwYXIgb3JkaW5hdGV1ciBldCByZWNvbm5haXNzYW5jZSBmYWNpYWxlCm9wZW5jdi1weXRob24+PTQuOC4wCmZhY2VfcmVjb2duaXRpb24+PTEuMy4wCmRlZXBmYWNlPj0wLjAuNzkKCiMgQmFzZSBkZSBkb25uZWVzClNRTEFsY2hlbXk+PTIuMC4wCgojIENoaWZmcmVtZW50IFNRTENpcGhlciAob3B0aW9ubmVsKQojIERlY29tbWVudGVyIHNpIHZvdXMgdm91bGV6IGFjdGl2ZXIgbGUgY2hpZmZyZW1lbnQgZGUgbGEgYmFzZSA6CiMgc3FsY2lwaGVyMwoKIyBTZWN1cml0ZSBldCBhdXRoZW50aWZpY2F0aW9uCmJjcnlwdD49NC4wLjAKcHlvdHA+PTIuOS4wCnFyY29kZT49Ny40LjAKCiMgUmVxdWV0ZXMgSFRUUCBldCBzY3JhcGluZyB3ZWIKZ
XF1ZXN0cz49Mi4zMS4wCmJlYXV0aWZ1bHNvdXA0Pj00LjEyLjAKCiMgQ2FydG9ncmFwaGllIGV0IGdlb2xvY2FsaXNhdGlvbgpmb2xpdW0+PTAuMTQuMApnZW9weT49Mi40LjAKCiMgQW5hbHlzZSBkZSBkb25uZWVzCnBhbmRhcz49Mi4wLjAKc2Npa2l0LWxlYXJuPj0xLjMuMAoKIyBWYXJpYWJsZXMgZCdlbnZpcm9ubmVtZW50CnB5dGhvbi1kb3RlbnY+PTEuMC4wCgojIEdyYXBoZXMgZXQgcmVzZWF1eApuZXR3b3JreD49My4xCg==